<div class="container-fluid  d-flex justify-content-center text-wrap" style="background-color:#e4ecf7;height:100vh;">
    <div class="row d-flex justify-content-center" style="width: 90vw;justify-content:center;">
        <div class="jumbotron jumbotron-fluid text-center mx-auto" style="width: 90vw;background-color:#e4ecf7;margin-bottom:0px;">
            <img class="logo"src="/assets/logo.jpg"><br>
            <img src="/assets/error-icon.png">

            <p class="font-weight-bold" style="background-color:#e4ecf7;font-size-adjust: inherit">{{errorMessage}}</p>

            <button class="btn btn-outline-secondary btn-lg" (click)="goBack()"><i class="fas fa-arrow-left"></i>
                Back</button>
        </div>
    </div>
</div>